.todo-list {
	position: relative;
	background-color: white;
	margin: 30px;
	width: 40%;
	min-width: 400px;
	max-width: 400px;
	height: auto;
	/*min-height: 30px;*/
	/*max-height: 1200px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #efefef;
	box-shadow:
		0 1px 1px rgba(0,0,0,0.15),
		0 10px 0 -5px #eee,
		0 10px 1px -4px rgba(0,0,0,0.15),
		0 20px 0 -10px #eee,
		0 20px 1px -9px rgba(0,0,0,0.15);
	padding: 30px;
	overflow: auto;
}

.title {
	position: relative;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	align-items: center;
	padding: 30px 20px 0;
	flex-direction: column;
	width: 70%;
}

.delete-list {
	position: relative;
	margin-right: 90%;
}

.new-item {
	background-color: whitesmoke;
	margin-top: 15px;
	margin-left: 20%;
	font-size: 25px;
	border-radius: 2px;
	align-items: center;
}

.list {
	position: relative;
	height: auto;
	min-height: 30px;
	max-height: 600px;
}