.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

.todo-item-completed {
    /*  */
    font-style: italic;
	color: #cdcdcd;
    text-decoration: line-through;
	border: 0;
}

.todo-item-noncompleted {
    /*  */
    /*font-style: italic;*/
    color: #333333;
    /*text-decoration: line-through;*/
	/*border: 0;*/
}

input[type=text] {
    border: 1;
}

/*input[type=checkbox]:focus {
    border: 0;
    outline: 0;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}*/